body{
    background-color : #212121;
}
.box{
    display : flex;
    height : 90vmin;
    justify-content : center;
    align-items : center;
    flex-direction: column;
}
.screen{
    height : 50px;
    width: 200px;
    background-color : black;
    color : greenyellow;
    display : flex;
    justify-content : center;
    align-items : center;
    font-size : 30px;
}
.reset{
    height : 30px;
    width: 100px;
    font-size: 25px;;
    color : black;
    margin: 5vmin 0;
    background-color: antiquewhite;
    display : flex;
    justify-content : center;
    align-items : center;
    cursor : pointer;
}
.start{
    margin : 5vmin 0 ;
    color :yellow;
    background-color : rgba(0, 0, 0, 0.481);
    height : 100px;
    width : 100px;
    border-radius : 50% ;
    font-size : 25px;
    display : flex;
    justify-content : center;
    align-items : center;
    cursor : pointer;
}